/* Style all elements on the page to include margin, padding with content width  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Sets the html, body, wrapper div to use the whole height of the page */
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Sets font type and color */
body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

/* Adds paddings around the main wrapper div */
.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Style the main header */
header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

/* Style the card div */
#card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

/* Adds a empty div element after the card header div */
#card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

/*  Sets minimum height for the card body */
#card-body {
  min-height: 100px;
}

/* Change the background color of the popover message */
.popover {
    background-color: rgb(173, 218, 173);
  }

/* Centers the Footer card text */
#card-footer {
  text-align: center;
}

/* Adds a empty div element before the card footer div */
#card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

/* Clear any floating elements after the card footer */
#card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

/* Style the button */
.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

/* Style button after pressed */
button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

/* Style the textarea */
#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

/* Adjust button and textare font size, margin and padding for screen below 690px width */
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

/* Adjust button font size, margin and padding for screen below 500px width */
@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
